  <style>
    .node-obj-li {
      padding: 0px;
      margin: 0px 4px;
      line-height: 35px;
    }

    .node-obj {
      width: 80px;
      font-family: 'Droid Sans Mono';
    }

    .label {
      padding-top: 0.3em;
      font-size: 45%;
      border-radius: 0.45em;
    }
  </style>

  <h1>Nodes Dashboard</h1>
  <script>
    var ws;

    $(document).ready(function()
    {
      if (!("WebSocket" in window))
      {
        alert("Sorry, WebSockets unavailable.");
        return;
      }

      ws = new WebSocket("<%= Constants.WS_Code %>");

      ws.onmessage = function(evt)
      {
        data = null
        try {
                data = JSON.parse(evt.data);
            }
            catch (e) {
                console.log("evt.data is not valid JSON:\nevt: " + evt);
            };
        // console.log(data);
        if (data != null) {
          if (data.type == "update") {
            if($("#node-"+ data.server_hostname).length == 0) {
              $('#all_nodes').append(" \
              <li style='float: left; font-size: 200%;' class='node-obj-li'> \
              <span class='label label-info node-obj' id='node-"+ data.server_hostname +"' \
              style='background-color: "+ data.server_color +"; border-color: "+ data.server_color +"; border-style: solid;' \
              data-ip='"+data.server_ip+"'> \
              "+data.server_hostname+" - <span id='node-"+data.server_hostname+"-icon' \
              class='glyphicon "+data.server_icon+"'></span> \
              </span> \
              </li>");

              // was glyphicon size => style='font-size: 0.40em;'

            }
            else {
              $("#node-" + data.server_hostname).css("background-color", data.server_color )
                .css("border-color", data.server_color )
                .css("color", "#FFFFFF")
                .addClass('alive-node');
                $("#node-" + data.server_hostname + "-icon").removeClass().toggleClass("glyphicon " + data.server_icon);
            }
          }
          else if (data.type == "sweep") {
            var disabledColor = "#898989";
            $("span[data-ip~='"+data.server_ip+"']")
            .attr("style", " ")
            .css("background-color", "#FFFFFF" )
            .css("border-color", disabledColor)
            .css("color", disabledColor)
            .css("border-style", "solid")
            .removeClass('alive-node')
          };
        };
      };

      ws.onclose = function()
      {
        console.log("socket closed");
      };

      setInterval(function(){
        var alive_node_ips = [];
        $(".alive-node").each(function() { alive_node_ips.push(this.attributes['data-ip'].value)});

        if (ws.OPEN) { ws.send(alive_node_ips); }
      },1000);

    });

</script>

<ul id='all_nodes' style="width: 1200px; list-style-type: none;">
</ul>

<ul id='output-log'>
</ul>
