<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>K8s Dashboard</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>
